html, body {
    background-color: rgb(176, 219, 234);
    font-family: Georgia, "Times New Roman", sans-serif;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    text-align: justify;
}

nav {
    display: flex;
    gap: 50px;
    justify-content: right; /* Lingid on paremal */
}

nav ul {
    /* Loendi sümbolid ja numbrid puuduvad */
    list-style-type: none;
    padding: 0;
    padding-top: 30px;
    padding-right: 40px;
    margin: 0;
    overflow: hidden; /* lingid on üksteise kõrval*/
    position: fixed; /* lingid ei kao kerimisel*/
    right: 0;
    top: 0;
}

nav ul li {
    font-weight: bold; /* Peakategooria on paksus kirjas */
    float: right;
}

nav ul li a {
    display: block;
    padding: 14px 30px;
    text-decoration: none; /* Lingid ei ole allakriipsutatud */
}

nav ul ul li {
    margin-top: 0.5em;
    margin-left: 1em;
    font-weight: normal; /* Alakategooriad on tavalises kirjas */
}

/* Linkide kujundused */
a:link {
    color: rgb(255, 136, 0); /* Algselt on kodulehe link oranž. */
}

a:visited {
    color: rgb(255, 106, 0); /* Kui kodulehte on külastatud, muutub link tumeoranžiks. */
}

a:hover {
    color: black; /* Kui hiir on lingi peal, on tekst must. */
}

a:active {
    color: darkblue; /* Kui lingile klikkida (ehk teha aktiivseks), muutub link tumesiniseks. */
}

h1 {
    font-size: 30px;
    color: rgb(30, 51, 152);
    text-align: center;
    line-height: 50px;
    margin: 10%;
}

h2 {
    font-size: 25px;
    color: rgb(108, 136, 59);
}

h3 {
    font-size: 20px;
    color: rgb(108, 136, 59);
}

summary {
    font-weight: bold;
}

/* Vbl on vaja siin asju muuta, see kõik on keerleva kuubi osa */
img.kuup {
    width:200px; 
    height:200px;
    border-radius:200px;
 }
 
 @keyframes spin {
    0% { 
       transform: rotateX(0deg) rotateZ(0deg); }
    100% { 
       transform: rotateX(180deg) rotateZ(180deg); }
 }
 
 .box {
    position: center;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-top: 50px;
    animation: spin 10s infinite linear; /* Animatsioon kestab 10sekundit, pöörleb ning kordub lõpmatult */
    transform-style: preserve-3d;
 }
 
 .box div {
    position: absolute;
    height: 200px;
    width: 200px;
 }
 
 /* Piltide asetused ja taustavärvid */
 .side1 {
     background: rgb(168, 210, 223);
     transform:translateZ(100px);
 }
 
 .side2 {
     background:rgb(232, 232, 175);
     transform:rotateY(90deg) translateZ(100px);
 }
 
 .side3 {
     background:rgb(236, 216, 181);
     transform:rotateY(180deg) translateZ(100px);
 }
 
 .side4 {
     background:rgb(186, 186, 231);
     transform:rotateY(-90deg) translateZ(100px);
 }
 
 .side5 {
     background:rgb(235, 192, 192);
     transform:rotateX(-90deg) translateZ(100px);
 }
 
 .side6 {
     background:rgb(196, 241, 197);
     transform:rotateX(90deg) translateZ(100px);
 }