html, body {
    background-color: lightyellow;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    text-align: justify;
}

nav {
    display: flex;
    gap: 50px;
    justify-content: left; /* Lingid on vasakul */
}

nav ul {
    /* Loendi sümbolid ja numbrid puuduvad */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    font-weight: bold; /* Peakategooria on paksus kirjas */
}

nav ul ul li {
    margin-top: 0.5em;
    margin-left: 1em;
    font-weight: normal; /* Alakategooriad on tavalises kirjas */
}

/* Linkide kujundused */
a:link {
    color: brown /* Algselt on kodulehe link pruun. */
}

a:visited {
    color: rgb(216, 131, 26); /* Kui kodulehte on külastatud, muutub link tumeoranžiks. */
}

a:hover {
    color: black; /* Kui hiir on lingi peal, on tekst must. */
}

a:active {
    color: darkgreen; /* Kui lingile klikkida (ehk teha aktiivseks), muutub link tumeroheliseks. */
}

h1 {
    font-size: 30px;
    color: rgb(66, 84, 34);
}

h2 {
    font-size: 25px;
    color: rgb(108, 136, 59);
}

h3 {
    font-size: 20px;
    color: rgb(108, 136, 59);
}

summary {
    font-weight: bold;
}
