html, body {
    background-image: url('veebileht-taispikk.png');
    background-size: cover; /* Katab kogu ala, säilitades proportsioonid */
    background-position: center center; /* Keskendab pildi */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Hoiab tausta kogu lehe ulatuses */
    min-height: 100vh;
    font-family: Georgia, "Times New Roman", sans-serif;
    margin: 10px;
    padding: 5px;
    font-size: 15px;
    text-align: justify;
}

nav {
    background-color: white;
    /*gap: 50px;*/
    /*justify-content: right;*/ /* Lingid on paremal */
}

nav ul {
    /* Loendi sümbolid ja numbrid puuduvad */
    list-style-type: none;
    padding: 0;
    padding-top: 30px;
    padding-right: 40px;
    margin: 0;
    position: fixed; /* lingid ei kao kerimisel*/
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    
}

nav ul li {
    font-weight: bold; /* Peakategooria on paksus kirjas */
    margin-left: 20px;
    position: relative;
    background-color: lightblue;
}

nav ul li a, nav ul li span {
    display: block;
    padding: 14px 30px;
    text-decoration: none; /* Lingid ei ole allakriipsutatud */
    cursor: pointer;
}

nav ul ul li {
    margin-top: 0.5em;
    margin-left: 1em;
    font-weight: normal; /* Alakategooriad on tavalises kirjas */
}

.nav-alammenüü {
    display: none;
    position: absolute;
    min-width: 250px;
    z-index: 100;
    float: none;
    top: 100%;
    left: 0;
}
.nav-alammenüü li {
    float: none;
}

nav ul li:hover .nav-alammenüü {
    display: block;
    cursor: pointer;
}

/* Linkide kujundused */
a:link {
    color: #ffa630; /* Algselt on kodulehe link oranž. */
}

a:visited {
    color: #f17720; /* Kui kodulehte on külastatud, muutub link tumeoranžiks. */
}

a:hover {
    color: black; /* Kui hiir on lingi peal, on tekst must. */
    cursor: pointer;
}

a:active {
    color: #0474ba; /* Kui lingile klikkida (ehk teha aktiivseks), muutub link tumesiniseks. */
}

h1 {
    font-size: 40px;
    color: #0474ba;
    text-align: center;
    line-height: 50px;
    margin: 10%;
}

h2 {
    font-size: 25px;
    color: rgb(108, 136, 59);
}

h3 {
    font-size: 20px;
    color: rgb(108, 136, 59);
}

summary {
    font-weight: bold;
}

/* Keerleva kuup */
img.kuup {
    width:200px; 
    height:200px;
    
 }
 
 @keyframes spin {
    0% { 
       transform: rotateX(0deg) rotateZ(0deg); }
    100% { 
       transform: rotateX(180deg) rotateZ(180deg); }
 }
 
 .box {
    margin: 0 auto;
    height: 200px;
    width: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-top: 50px;
    margin-bottom: 75px;
    animation: spin 8s infinite linear; /* Animatsioon kestab 8sekundit, pöörleb ning kordub lõpmatult */
    transform-style: preserve-3d;
 }
 
 .box div {
    position: absolute;
    height: 200px;
    width: 200px;
 }
 
 /* Piltide asetused ja taustavärvid */
 .side1 {
     background: rgb(168, 210, 223);
     transform:translateZ(100px);
 }
 
 .side2 {
     background:rgb(232, 232, 175);
     transform:rotateY(90deg) translateZ(100px);
 }
 
 .side3 {
     background:rgb(236, 216, 181);
     transform:rotateY(180deg) translateZ(100px);
 }
 
 .side4 {
     background:rgb(186, 186, 231);
     transform:rotateY(-90deg) translateZ(100px);
 }
 
 .side5 {
     background:rgb(235, 192, 192);
     transform:rotateX(-90deg) translateZ(100px);
 }
 
 .side6 {
     background:rgb(196, 241, 197);
     transform:rotateX(90deg) translateZ(100px);
 }