html, body {
    background-color: rgb(176, 219, 234);
    font-family: Georgia, sans-serif, "Times New Roman";
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    text-align: justify;
}

nav {
    display: flex;
    gap: 50px;
    justify-content: right; /* Lingid on paremal */
}

nav ul {
    /* Loendi sümbolid ja numbrid puuduvad */
    list-style-type: none;
    padding: 0;
    padding-top: 30px;
    padding-right: 40px;
    margin: 0;
    overflow: hidden; /* lingid on üksteise kõrval*/
    position: fixed; /* lingid ei kao kerimisel*/
    right: 0;
    top: 0;
}

nav ul li {
    font-weight: bold; /* Peakategooria on paksus kirjas */
    float: right;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none; /* Lingid ei ole allakriipsutatud */
}

nav ul ul li {
    margin-top: 0.5em;
    margin-left: 1em;
    font-weight: normal; /* Alakategooriad on tavalises kirjas */
}

/* Linkide kujundused */
a:link {
    color: rgb(255, 136, 0); /* Algselt on kodulehe link oranž. */
}

a:visited {
    color: rgb(255, 106, 0); /* Kui kodulehte on külastatud, muutub link tumeoranžiks. */
}

a:hover {
    color: black; /* Kui hiir on lingi peal, on tekst must. */
}

a:active {
    color: darkblue; /* Kui lingile klikkida (ehk teha aktiivseks), muutub link tumesiniseks. */
}

h1 {
    font-size: 30px;
    color: rgb(30, 51, 152);
    text-align: center;
    line-height: 50px;
    margin: 10%;
}

h2 {
    font-size: 25px;
    color: rgb(108, 136, 59);
}

h3 {
    font-size: 20px;
    color: rgb(108, 136, 59);
}

summary {
    font-weight: bold;
}
